.css-10trblm{
color: white;
text-align: center;

}

.css-10trblm{
    font-size: 30px;
}

.css-5gns2o{
text-align: left;
}

.css-1a32fsj{
z-index: -1;
}

.css-1ok255g{
    visibility: hidden;
    display: none;
}

.css-1v0mbdj {
    margin-left: auto;
    margin-right: auto;
}

.css-s658vx{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.css-16huue1{
    font-family: Arial, Helvetica, sans-serif;
}

.css-1ht1j8u{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.stSlider{
    margin-top: 10%;
}

.css-1lcbmhc{
    margin : auto;
}

.css-183lzff{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.css-1lcbmhc{
    margin : auto;
}

.css-16huue1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.css-183lzff{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
}

.css-1gf0e5q{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.css-1xarl3l{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}


.css-otobgn.edgvbvh9{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.css-1dyp0p2{
    display: flex;
}

.css-8u98yl .css-otobgn.edgvbvh9{
    display: none;
}
.css-8u98yl{
    cursor: pointer;
    
}

.css-18e3th9 {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

code {
    color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    background: rgb(3, 3, 3);
    font-size: 12;
    font-family: Arial, Helvetica, sans-serif;
}
