.css-10trblm{
color: white;
text-align: center;

}

.css-5gns2o{
text-align: left;
}

.css-1a32fsj{
z-index: -1;
}

.css-e370rw{
    visibility: hidden;
    display: none;
}

.css-1v0mbdj {
    margin-left: auto;
    margin-right: auto;
}

