body {
    padding: 0;
    margin: 0;
}

section.main {
    background-color: #fff;
}

header {
    visibility: hidden;
    display: none;
}

footer {
    visibility: hidden;
    display: none;
}

div.css-6qob1r {
    background-color: #F0EBE3;
    justify-content: center;
    padding: 10px;
}


div.block-container.css-1gx893w.egzxvld2 div.css-1v0mbdj.etr89bj1 img {
    width: 60px;
}

div.css-1b0udgb {
    visibility: hidden;
    display: none;
}

div.css-hxt7ib {
    padding: 0;
    margin: 0;
}

div.css-1v0mbdj.etr89bj1 {
    width: 50px;
}

div.element-container .stMarkdown h1 {
    color: #00b6bd;
    padding: 0;
    font-size: 60px;
}

div.css-1e1u2oq {
    display: flex;
}

button.css-6awftf.e19lei0e1 {
    visibility: hidden;
    display: none;
}

button.css-11qx4gg.e19lei0e1 {
    visibility: hidden;
    display: none;
}